@import 'vendor/normalize';
@import 'vendor/nprogress';
@import 'vendor/add2home';
@import 'header';
@import 'content';


* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}


body {
    font-size: 17px;
    line-height: 21px;
    font-family: -apple-system-font, 'Helvetica Neue Light', 'Helvetica', 'Arial', sans-serif;
    font-weight: 400;
}


.hairline(@position: bottom) {
    background-repeat: repeat-x;
    background-position: @position left;
    background-size: 100% 1px;
    background-image: url(data:image/gif;base64,R0lGODlhAQACAPABAMjHzP///yH/C1hNUCBEYXRhWE1QAz94cAAh+QQFAAABACwAAAAAAQACAAACAgwKADs=);
}


#nprogress .bar {
    z-index: 1010;
    background: #fff;

    .peg {
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
    }
}


body.user-auth {
    &, .content {
        background: #7a8cad;
    }
}


.loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;

    background: fade(#000, 10%);

    line-height: 350px;
    color: #888;
    font-size: 14px;
    text-align: center;
}
