<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title><%= data.title %></title>

        <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <link rel="apple-touch-icon" href="<%= data.staticUrl %>/images/m/touch-icon.png">
        <link rel="shortcut icon" sizes="1024x1024" href="<%= data.staticUrl %>/images/m/touch-icon.png">
        <meta name="format-detection" content="telephone=no">

        <link rel="stylesheet" type="text/css" href="<%= data.staticUrl %>/build.css?<%= now %>">
        <script src="<%= data.staticUrl %>/build.js?<%= now %>"></script>

        <script>
            $(function() {
                App.start(<%= json %>);
            });
        </script>
    </head>
    <body></body>
</html>
