<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title><%= data.title %></title>

        <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <link rel="apple-touch-icon" href="/images/m/touch-icon.png">
        <link rel="shortcut icon" sizes="1024x1024" href="/images/m/touch-icon.png">
        <meta name="format-detection" content="telephone=no">
        <link href="/images/m/startup-320x460.png" media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 1)" rel="apple-touch-startup-image">
        <link href="/images/m/startup-640x920.png" media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
        <link href="/images/m/startup-640x1136.png" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">

        <link rel="stylesheet" type="text/css" href="<%= data.staticUrl %>/build.css?<%= now %>">
        <script src="<%= data.staticUrl %>/build.js?<%= now %>"></script>

        <script>
            $(function() {
                App.start(<%= json %>);
            });
        </script>
    </head>
    <body></body>
</html>
