<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title><%= data.title %></title>

        <meta name="description" content="Wer Zahlt Was? hilft Dir die Finanzen in <i>deiner Beziehung, in deiner WG, Arbeitsgruppe oder unter Freunden zu verwalten.">
        <meta property="og:image" content="http://wzw.purelabs.de<%= data.staticUrl %>/images/preview.png">

        <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <link rel="apple-touch-icon" href="<%= data.staticUrl %>/images/m/touch-icon.png">
        <link rel="shortcut icon" sizes="1024x1024" href="<%= data.staticUrl %>/images/m/touch-icon.png">
        <meta name="format-detection" content="telephone=no">

        <link href="<%= data.staticUrl %>/images/startup/640x920.png" media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
        <link href="<%= data.staticUrl %>/images/startup/640x1136.png" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">

        <link rel="stylesheet" type="text/css" href="<%= data.staticUrl %>/build.css?<%= now %>">

        <link href='//fonts.googleapis.com/css?family=Grand+Hotel' rel='stylesheet' type='text/css'>

        <script src="<%= data.staticUrl %>/build.js?<%= now %>"></script>

        <script>
            $(function() {
                App.start(<%= json %>);
            });
        </script>
    </head>
    <body>
        <div class="overlay" id="overlay"></div>
        <div class="viewport" id="viewport"></div>
    </body>
</html>
