<h1 class="user-login-logo">Wer zahlt was?</h1>

<form>
    <div class="form-panel">
        <input type="text" name="user-claim-account-firstname" spellcheck="false" placeholder="Vorname" value="{{ first_name }}" autocomplete="off">
        <input type="text" name="user-claim-account-lastname" spellcheck="false" placeholder="Nachname" value="{{ last_name }}" autocomplete="off">
        <input type="email" name="user-claim-account-email" spellcheck="false" placeholder="Email Adresse" value="{{ email }}" autocomplete="off">
        <input type="password" name="user-claim-account-password" placeholder="Passwort" autofocus autocomplete="off">
    </div>

    <button type="submit" class="ladda-button" data-style="zoom-in">Anmelden</button>
</form>
