<header class="header">
    <div id="core-layout-header"></div>
</header>
<div class="content" id="core-layout-content"></div>


<div class="add-to-homescreen">
    <header>
        <h2>
            <span>Wer zahlt was?</span> installieren
        </h2>
        <h3>
            Nie wieder &Auml;rger mit der Haushaltskasse.
        </h3>
    </header>

    <footer>
        Das Icon unten antippen und dann
        <br>
        <b>'Zum Home-Bildschirm'</b>
        <div class="add-to-homescreen-arrow"></div>
    </footer
</div>
