<form>
    <div class="form-panel">
        <input type="text" name="payment-amount" spellcheck="false" autofocus placeholder="Betrag" class="payments-new-currency">
        <input type="text" name="payment-purpose" spellcheck="false" placeholder="Verwendungszweck (optional)">
        <input type="text" name="payment-tags" spellcheck="false" placeholder="Tags (optional, z.B. 'Essen, Urlaub')">
        <div class="payments-new-tags">
            <ul>
                {{# each tags }}
                    <li>{{ name }}</li>
                {{/ each }}
            </ul>
        </div>
    </div>

    <input type="submit" value="Speichern">
</form>
