<h2>Freunde in der Gruppe</h2>
<ul class="group-settings-user-list list">
    {{# each active_users }}
        <li style="border-left-color: {{ color }};">
            {{# equal id ../me.id }}
                {{ first_name }} {{ last_name }} ({{ email }})
            {{ else }}
                <b>Du</b>, {{ first_name }} {{ last_name }} ({{ email }})
            {{/ equal }}
            <p>Beigetreten am {{ moment date_joined_group "DD.MM.YYYY" }}</p>
        </li>
    {{/ each }}
</ul>


<h2>Eingeladene Freunde</h2>
<ul class="group-settings-user-list list">
    {{# each invited_users }}
        <li style="border-left-color: {{ color }};">
            {{ first_name }} {{ last_name }} ({{ email }})
            <p>Eingeladen am {{ moment date_joined_group "DD.MM.YYYY" }}</p>
        </li>
    {{/ each }}
</ul>
