<h1>
    Hallo!
</h1>

<p>
    <span class="logo">Wer Z&auml;hlt Was?</span> hilft <b>Dir</b> die <b>Finanzen</b> in <i>deiner Beziehung</i>,
    in <i>deiner WG</i>, <i>Arbeitsgruppe</i> oder <i>unter Freunden</i> <b>zu verwalten</b>.
    <br>
    <br>
    Hierbei bekommst du einen genauen Überblick, wer als nächstes mit dem Bezahlen dran ist.
    <br>
    <br>
    Das nervige auseinander rechnen von Quittungen hat ein Ende!
</p>

<footer>
    <img src="/static/images/gesture-swipe-right.png" alt="Gesture swipe right">
</footer>
