<form>
    <div class="form-panel">
        <input type="email" name="invite-user-email" spellcheck="false" placeholder="Email">
        <p class="misc-settings-already-invited">
            Dein Freund verwendet <span class="logo">Wer Zahlt Was?</span> bereits.
        </p>
        <input type="text" name="invite-user-firstname" spellcheck="false" placeholder="Vorname">
        <input type="text" name="invite-user-lastname" spellcheck="false" placeholder="Nachname">
    </div>

    <button type="submit" class="ladda-button" data-style="zoom-in">Freund einladen</button>
</form>
