<ul class="list list-padded">
    <li id="settings-invite">
        Freund einladen
        <div class="clickable"></div>
    </li>
    <li id="settings-feedback">
        Feedback &amp; Hilfe
        <div class="clickable"></div>
    </li>
    <li id="settings-logout">
        Abmelden
        <div class="clickable"></div>
    </li>
</ul>

<p>
    Du bist angemeldet als {{ user.first_name }} {{ user.last_name }}.
</p>

<div class="misc-settings-install">
    <ul class="list list-padded">
        <li>
            App installieren
        </li>
    </ul>

    <p>
        Das Icon unten antippen und dann
        <br>
        <b>'Zum Home-Bildschirm'</b>
    </p>
    <div class="misc-settings-install-arrow"></div>
</div>
